

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


:root{

    --dark: #000;
    --darkgreen: rgb(9, 77, 9);
    --black: #333;
    --gray: #f9f9f9;
    --darkgray: #676767;
    --lightblack: #444;
    --white: #fff;
    --color: bisque;
    --green: #2bb573;
    --lightgreen: #5ed39b;
    --ldgreen: #ecfff6;
    --fbg: #0c0b09;
    --fontfamily: "Kumbh Sans", sans-serif;
    --fontsize: 18px;
    --fontrems: 2rem;
    --fontsmallrem: 1.2rem;
    --fontsmallsize: 13px;
    --letterspacing: 1.5px;
    --texttranform: capitalize;
    --transition: 0.5s;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


/* lading page styling start here */

.landing-page{
    position: relative;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 3%;
    background: transparent;
    position: fixed;
    z-index: 1000;
    box-shadow: 2px 1px 2px var(--fbg);
}
.landing-page.active{
    position: relative;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 3%;
    background: var(--ldgreen);
    position: fixed;
    z-index: 1000;
    box-shadow: 2px 1px 2px var(--green);
}


.landing-page > .Logo{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.landing-page > .Logo > .logoP > img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: contain;
    cursor: pointer;
}

.landing-page > .Logo > .logoT{
    display: block;
}

.landing-page > .Logo > .logoT > h5{
    color: var(--color);
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    letter-spacing: var(--letterspacing);
    text-transform: var(--texttranform);
    cursor: pointer;

}


.landing-page > .Logo > .logoT > p{
    color: var(--gray);
    font-family: var(--fontfamily);
    font-size: var(--fontsmallsize);
    text-transform: var(--texttranform);
    cursor: pointer;
}
.header-nav{
    display: none;
}

.landing-page > .mobile-navigation{
    display: flex;
    align-items: center;
}

.landing-page > .mobile-navigation > ul{
    list-style: none;
    display: flex;
}

.landing-page > .mobile-navigation > ul > li{
    margin-right: 13px;
}

.landing-page > .mobile-navigation > ul > li > a{
    position: relative;
    text-decoration: none;
    color: var(--gray);
    text-transform: var(--texttranform);
    font-family: var(--fontfamily);
    letter-spacing: 1px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}


.landing-page.active > .Logo > .logoT > p,
.landing-page.active > .mobile-navigation > ul > li > a,
.landing-page.active > .mobile-navigation > ul > .dropdown #listItem,
.landing-page.active > .mobile-navigation > ul > .dropdown ul li a
{
    color: var(--fbg);
}
.landing-page.active > .Logo > .logoT > h5,
.landing-page.active > .mobile-navigation > ul > .dropdown ul
{
    color: var(--darkgreen);
}
.landing-page.active > .mobile-navigation > ul > .dropdown ul a:hover{
    color: var(--lightgreen);
}

.landing-page.active > .mobile-navigation > ul > .dropdown ul{
    background-color: var(--ldgreen);
}

.landing-page > .mobile-navigation > ul > li > a::before{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--green);
    position: absolute;
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s linear;
    
}
.landing-page > .mobile-navigation > ul > li > a:active{
    color: var(--lightgreen);

}

.landing-page > .mobile-navigation > ul > li > a:hover::before{
    transform: scale(1);
    transform-origin: left;
    cursor: pointer;
}



.landing-page > .contact{
    width: 100px;
    background-color: var(--green);
    text-align: center;
    padding: 10px;

}
.landing-page > .contact:hover{
    background: yellowgreen;
    transition: .5s;
}
.landing-page > .contact:hover a{
    color: #000;
/
}

.landing-page > .contact > a{
    text-decoration: none;
    color: #ecfff6;
    text-transform: var(--texttranform);
    font-family: var(--fontfamily);
    font-size: var(--fontsmallsize);
}

.arrow {
    margin-left: 5px;
}

.dropdown ul{
    display: none;
    position: absolute;
    padding: 1% 1%;
    background-color: #242526;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
}

.dropdown:hover > ul{
    display: block;
    transition: var(--transition);
}

.dropdown > #listItem{
    color: var(--gray);
    font-family: var(--fontfamily);
    text-transform: var(--texttranform);
}

.dropdown ul li{
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    text-align: left;
    color: var(--fbg);
}

.dropdown ul li a:hover
{
    color: var(--lightgreen);
    transition: var(--transition);
}

.dropdown ul li > a{
    position: relative;
    text-align: left;
    font-family: var(--fontfamily);
    font-size: var(--fontsmallsize);
    color: var(--gray);
    text-transform: var(--texttranform);  
    text-decoration: none;
}

.links{
margin-bottom: 8px;
}

.dropdown ul .dropdown ul {
    left: 100%;
    top: 0;
    display: none;
}

.dropdown ul .dropdown:hover > ul {
    display: block;
}
/* header ends here */


/* header ends here */
/* the founder page start here */


.about{
    width: 100%;
    min-height: 100vh;
    padding: 2% 5%;
    display: block;
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    border-bottom: 1px solid var(--lightgreen);
}
.about > .content{
    display: block;
    width: 100%;
}

.about > .content > img{
    width: 30rem;
    height: 30rem;
    object-fit: contain;
    border: none;
}

.about > .content h1{
    width: 100%;
    color: var(--color);
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fontfamily);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--texttranform);
    margin-bottom: 3%;

}
.about > .content > span{
    color: var(--gray);
    font-family: var(--fontfamily);
    text-transform: var(--texttranform);
    font-weight: bolder;
    letter-spacing: var(--letterspacing);
}
.about > .content p {
    font-family: var(--fontfamily);
    font-size: 15px;
    color: var(--gray);
    line-height: 1.4em;
    text-align: justify ;
}


/* the founder ends here */


.footer{
    width: 100%;
    height: 50vh;
    padding: 1% 3%;
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.box_details{
    width: 21%;
    margin-right: 5%;
}
.footer > .details > .box_details > .toTeach{
    color: var(--gray);
}
#boxdetails{
    margin-right: -2%;
}
#boxdetails a{
    display: block;
    color: var(--gray);
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 2%;
    letter-spacing: 2px;
    font-size: 12px;
}
#boxdetails a:hover{
    color: var(--lightgreen);
    transition: 0.5s;
}

.box_details > .headings > h1{
    text-align: center;
    font-family: var(--fontfamily);
    font-weight: bolder;
    text-transform: var(--texttransform);
    font-size: 18px;
    letter-spacing: var(--letterspacing);
    color: var(--gray);
}

.box_details h1{
    color: white;
    font-size: 18px;
    font-family: var(--fontfamily);
    font-weight: bolder;
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    margin-bottom: 4%;
}
.box_details p{
    color: rgb(160, 153, 153);
    font-size: 13px;
    font-family: var(--fontfamily);
    text-transform: var(--text-transform);
    text-align: left;
    margin-top: 3%;
}

#contacti > a{
    display: block;
    margin-bottom: 5%;
    color: rgb(160, 153, 153);
    cursor: pointer;
    text-decoration: none;
    font-family: var(--fontfamily);
    font-size: 12px;
    text-transform: var(--text-transform);
}

#contacti > a > .fa{
    font-size: 18px;
    margin-right: 2%;
}
#contacti > a:hover{
    color: var(--lightgreen);
    transition: var(--transition);
    cursor: pointer;
}


.media{
    display: flex;
    margin-top: 3%;
}
.media a{
    margin-right: 3%;
    font-size: 1.5rem;
    color: var(--gray);
    cursor: pointer;
}
.media a:hover{
    color: var(--lightgreen);
    transition: 0.5s;
}
#detailsbox{
    text-align: justify;
}
#detailsbox a{
    color: var(--gray);
    cursor: pointer;
}

.designed-by{
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: var(--ldgreen);
}
.designed-by > p{
    font-family: var(--fontfamily);
    letter-spacing: var(--letter-spacing);
    font-size: 1rem;
    color: var(--darkgreen);
    margin-left: 5%;
}
.designed-by > p > span{
    color: orange;
}
