



@media only screen and (max-width: 768px){



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    :root{
      
        --dark: #000;
        --black: #333;
        --darkgreen: rgb(9, 77, 9);
        --gray: #f9f9f9;
        --darkgray: #676767;
        --lightblack: #444;
        --white: #fff;
        --color: bisque;
        --green: #2bb573;
        --lightgreen: #5ed39b;
        --ldgreen: #ecfff6;
        --fbg: #0c0b09;
        --fontfamily: "Kumbh Sans", sans-serif;
        --fontsize: 18px;
        --fontsmallsize: 13px;
        --fontsmallsize2: 12px;
        --letterspacing: 1.5px;
        --texttranform: capitalize;
        --transition: 0.5s;
        --fontwiegth: bolder;
    }
    
    
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
        overflow-x: hidden;
    }
    
    .landing-page{
        position: relative;
        width: 100%;
        padding:  2% 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        position: fixed;
        z-index: 1000;
    }
    .landing-page.active{
        position: relative;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2% 3%;
        background: var(--ldgreen);
        position: fixed;
        z-index: 1000;
        box-shadow: 2px 1px 2px var(--green);
    }

    #showMenu,
    #hideMenu{
        display: block;
        font-size: var(--fontsize);
        color: var(--gray);
    }
    .landing-page.active > #showMenu{
        color: var(--darkgreen);
    }
    .landing-page.active > .header-nav > #hideMenu{
        color: var(--darkgreen);
    }

    .landing-page > .header-nav > #hideMenu{
        text-align: right;
        font-size: var(--fontsize);
        color: var(--gray);
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .landing-page.active > .header-nav{
        position: absolute;
        left: -300px;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 999;
        background: var(--ldgreen); 
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease;
        padding: 3% 5%;
        display: block;
    }

    .landing-page > .Logo{
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;

    }
    .landing-page > .Logo > .logoP > img{
        width: 30px;
        height: 30px;
    }
    .landing-page > .Logo > .logoT > h5{
        font-size: 16px;
        font-weight: bolder;
        color: var(--color);
    }

    .landing-page > .Logo > .logoT > p{
        font-size: 11px;
        color: var(--gray);
    }
    .landing-page > .header-nav{
        position: absolute;
        left: -300px;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 999;
        background: var(--fbg); 
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease;
        padding: 3% 5%;
        display: block;
    }

    .landing-page > .header-nav > ul {
        display: block;
    }

    .landing-page > .header-nav > ul > li {
        margin-bottom: 8%;
    }
    .landing-page > .header-nav > ul > li > a
    {
        color: var(--gray);
    }

    .dropdown ul{
        background-color: 	#242526;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .dropdown ul > li > a{
        color: var(--gray);
    }

    .landing-page > .contact{
        display: none;
    }

    .landing-2 {
        width: 100%;
    }
    .landing-2 > .container,
    .landing-2 > .container > .heading,
    .landing-2 > .container > .text{
        width: 100%;
    }

    .landing-2 > .container > .heading > p{
        font-size: 25px;
        font-weight: var(--fontwiegth);
        letter-spacing: var(--letterspacing);
    }
    .landing-2 > .container > .text > h6{
        font-size: 20px;
        line-height: 30.5px;
        letter-spacing: var(--letterspacing);
    }

    .about{
        width: 100%;
        display: block;
    }
    .about > .content{
         width: 100%;
         display: block;
         padding: 2% 4%;
    }
    .about > .content > h1{
        width: 100%;
        text-align: left;
        font-size: 23px;
        margin-bottom: 3%;
    }
  
    .about > .content > p{
        text-align: left;
        width: 100%;
        margin-bottom: 7%;
    }

    .about > .content > .readmore{
        width: 50%;
        margin-bottom: 5%;
    }
    .about > .pic{
        width: 100%;
    }

    .services{
        padding: 2% 2%;
        max-width: 100%;
        min-height: 230vh;
    }
    .services .containers{
        width: 100%;
        min-height: 200vh;
    
    }
    .services > .headings > h1{
        font-size: 23px;
    }
    .services .containers > .box{
        margin-bottom: 20%;
    }
  
    .services2{
        max-width: 100%;
        min-height: 275vh;
    }
    .services2 > .containers{ 
        width: 100%;
        min-height: 280vh;
    }

    .landing{
        width: 100%;
        display: block;
        padding: 5px;
        min-height: 30vh;
  
    }
    .slide-container1.active,
    .slide-container2.active,
    .slide-container3.active,
    .slide-container4.active,
    .slide-container5.active,
    .slide-container6.active,
    .slide-container7.active,
    .slide-container8.active{
        width: 100%;
    }

    .landing > .slide-container1 > .picture,
    .landing > .slide-container2 > .picture,
    .landing > .slide-container3 > .picture,
    .landing > .slide-container4 > .picture,
    .landing > .slide-container5 > .picture,
    .landing > .slide-container6 > .picture,
    .landing > .slide-container7 > .picture,
    .landing > .slide-container8 > .picture{
        width: 200%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        object-fit: contain;
    }
}


@media only screen and (max-width: 932px){

   
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    :root{
      
        --dark: #000;
        --black: #333;
        --darkgreen: rgb(9, 77, 9);
        --gray: #f9f9f9;
        --darkgray: #676767;
        --lightblack: #444;
        --white: #fff;
        --color: bisque;
        --green: #2bb573;
        --lightgreen: #5ed39b;
        --ldgreen: #ecfff6;
        --fbg: #0c0b09;
        --fontfamily: "Kumbh Sans", sans-serif;
        --fontsize: 18px;
        --fontsmallsize: 13px;
        --fontsmallsize2: 12px;
        --letterspacing: 1.5px;
        --texttranform: capitalize;
        --transition: 0.5s;
        --fontwiegth: bolder;
    }
    
    
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
        overflow-x: hidden;
    }
    
    .landing-page{
        position: relative;
        width: 100%;
        padding:  2% 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        position: fixed;
        z-index: 1000;
    }
    .landing-page.active{
        position: relative;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2% 3%;
        background: var(--ldgreen);
        position: fixed;
        z-index: 1000;
        box-shadow: 2px 1px 2px var(--green);
    }

    #showMenu,
    #hideMenu{
        display: block;
        font-size: var(--fontsize);
        color: var(--gray);
    }
    .landing-page.active > #showMenu{
        color: var(--darkgreen);
    }
    .landing-page.active > .header-nav > #hideMenu{
        color: var(--darkgreen);
    }

    .landing-page > .header-nav > #hideMenu{
        text-align: right;
        font-size: var(--fontsize);
        color: var(--gray);
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .landing-page.active > .header-nav{
        position: absolute;
        left: -300px;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 999;
        background: var(--ldgreen); 
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease;
        padding: 3% 5%;
        display: block;
    }

    .landing-page > .Logo{
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;

    }
    .landing-page > .Logo > .logoP > img{
        width: 30px;
        height: 30px;
    }
    .landing-page > .Logo > .logoT > h5{
        font-size: 16px;
        font-weight: bolder;
        color: var(--color);
    }

    .landing-page > .Logo > .logoT > p{
        font-size: 11px;
        color: var(--gray);
    }
    .landing-page > .header-nav{
        position: absolute;
        left: -300px;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 999;
        background: var(--fbg); 
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease;
        padding: 3% 5%;
        display: block;
    }

    .landing-page > .header-nav > ul {
        display: block;
    }

    .landing-page > .header-nav > ul > li {
        margin-bottom: 8%;
    }
    .landing-page > .header-nav > ul > li > a
    {
        color: var(--gray);
    }
    .dropdown ul{
        background-color: 	#242526;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .dropdown ul > li > a{
        color: var(--gray);
    }

    .landing-page > .contact{
        display: none;
    }

    .landing-2 {
        width: 100%;
    }
    .landing-2 > .container,
    .landing-2 > .container > .heading,
    .landing-2 > .container > .text{
        width: 100%;
    }

    .landing-2 > .container > .heading > p{
        font-size: 25px;
        font-weight: var(--fontwiegth);
        letter-spacing: var(--letterspacing);
    }
    .landing-2 > .container > .text > h6{
        font-size: 20px;
        line-height: 30.5px;
        letter-spacing: var(--letterspacing);
    }

    .about{
        width: 100%;
        display: block;
        min-height: 90vh;
    }
    .about > .content{
         width: 100%;
         display: block;
         padding: 2% 4%;
    }
    .about > .content > h1{
        width: 100%;
        text-align: left;
        font-size: 23px;
        margin-bottom: 3%;
    }
  
    .about > .content > p{
        text-align: left;
        width: 100%;
        margin-bottom: 7%;
    }

    .about > .content > .readmore{
        width: 50%;
        margin-bottom: 5%;
    }
    .about > .pic{
        width: 100%;
    }
   /* .services{
        padding: 3% 2%;
        max-width: 100%;
        min-height: 210vh;
    }
    .services .containers{
        width: 100%;
        min-height: 260vh;
    }
    .services > .headings > h1{
        font-size: 24px;
    }
    .services > .containers > .box{
        padding: 3% 4%;
    }
    
    .services > .containers > .box > .image img{
        width: 17rem;
        height: 17rem;
    }

    .services2{
        max-width: 100%;
        min-height: 270vh;
        border-bottom: 1px solid var(--lightgreen);
    }

    .services .containers > .box{
        margin-bottom: 0;
    } */

    .landing{
        width: 100%;
        display: block;
        padding: 5px;
        min-height: 30vh;
    }
    .slide-container1.active,
    .slide-container2.active,
    .slide-container3.active,
    .slide-container4.active,
    .slide-container5.active,
    .slide-container6.active,
    .slide-container7.active,
    .slide-container8.active{
        width: 100%;
    }

    .landing > .slide-container1 > .picture,
    .landing > .slide-container2 > .picture,
    .landing > .slide-container3 > .picture,
    .landing > .slide-container4 > .picture,
    .landing > .slide-container5 > .picture,
    .landing > .slide-container6 > .picture,
    .landing > .slide-container7 > .picture,
    .landing > .slide-container8 > .picture{
        width: 200%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        object-fit: contain;
    }
 }
 

